<div class="container footer-container">
    <div class="row text-center d-flex justify-content-around">
        
        <!-- Contact Details -->

        <div class="col-sm-3">
            <h4 class="footer-titles">Contact</h4>
                <a href="mailto:ravosilesia88@protonmail.com" aria-label="Email Link" class="social-media">
                    <i class="fas fa-envelope me-3"></i>
                        ravosilesia88@protonmail.com
                </a>
                <p>Phone Number: +353 87 358 8765</p>
                <a href="https://www.facebook.com/" class="social-media" target="_blank" aria-label="Facebook Link">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
                <a href="https://www.instagram.com/" class="social-media" target="_blank" aria-label="Instagram Link">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <hr class="block-divider block-divider--short">
        </div>

        <!-- About Us -->
        <div class="col-sm-3">
            <h4 class="footer-titles">About Us</h4>
                <p>We are an online fitness store with a wide range of products
                    from whey protein and aminoacids to parallettes and pull-up bars.</p>
            <hr class="block-divider block-divider--short">
        </div>

        <!-- Our Mission -->

        <div class="col-sm-3">
            <h4 class="footer-titles">Our Mission</h4>
            <p>We offer competitive prices, a pleasant UI, a fast webpage,
                secure checkouts and more. We aim to revolutionize the digital fitness e-commerce sector.</p>
            <hr class="block-divider block-divider--short">
        </div>
    
    </div>

    <!-- Monthly Newsletter with MailChimp -->

    <div class="row text-center d-flex justify-content-around text-white">
        <div>
            <h4 class="footer-titles mailchimp-footer">Subscribe!</h4>
            <p class="mailchimp-footer">Get exclusive offers and discount codes by subscribing to our monthly newsletter.</p>
            <!-- MailChimp Signup Form -->
            <div id="col-sm-3">
                <div id="mc_embed_signup">
                    <form action="https://github.us9.list-manage.com/subscribe/post?u=eecf17cb5c0c898f999e99188&amp;id=716a539301&amp;f_id=0060c0e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <input type="text" name="b_eecf17cb5c0c898f999e99188_716a539301" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/izyOwA" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr class="block-divider block-divider--short">
</div>

<!-- Creator Details - Content taken from my PP2 -->

<div class="container creator-container">
    <div class="row text-center d-flex justify-content-around">
        <div class="col-sm-3">
            <p>The Fitness Den was created by Dorian Wolarz, a Code Institute Student.</p>
            <p>I hope you found it a pleasurable experience. <br>You can find me on the following social media:</p>
            <a href="https://www.instagram.com/linkolite/" class="social-media" target="_blank" aria-label="Instagram Link">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="https://github.com/RavoPL" class="social-media" target="_blank" aria-label="Instagram Link">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
        </div>
    </div>
</div>