{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Contact Form</h2>
                <hr>
                <div class="w-full">
                    {% if request.user.is_authenticated %}
                        <form method="POST" action="{% url 'submit_contact' %}">
                            {% csrf_token %}
                            <br>
                            Message Title:
                            <input type="text" class="form-control" name="subject">
                            <br>
                            <br>
                            Message:
                            <textarea name="message" class="form-control" rows="5"></textarea>
                            <br>
                            <input type="submit" value="Submit Message" class="btn btn-black">
                            <br>
                        </form>
                    {% else %}
                    <p>You must be logged in to send a message. <span><a href="{% url 'account_login' %}">Log in now by clicking here!</a></span></p>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}